$white: #ffffff;
$athens-gray: #f2f2f5;
$spindle: #b8c0d8;
$waterloo: #7f8694;
$astronaut: #3c556e;
$mine-shaft: #393939;
$dolly: #f5ea75;
$dodger-blue: #2979ff;
$bay-of-many: #224687;

$spindle: #b8c8d8;
$red: #ff4141;
//todo: Remove
