@import "styles/index";

.breadcrumb-wrapper {
  //   background-color: blue;
  display: flex;
  flex-direction: row;
  color: $dark-teal;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5vh;
  text-decoration: none;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    .breadcrumb-text {
      margin: 0 3vw;
      // text-decoration: none;
      color: inherit; /* Or specify your own color */
      cursor: pointer;
    }
  }
}
