.country {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //gap: 10px;
}
  .inner-data{
    z-index: 2;
    margin-top: calc(35vh - 15px);
    padding-top: 6px;
    box-shadow: 0px -6px 11px 4px rgba(0, 0, 0, 0.30);;
  border-radius: 20px 20px 0 0;
  background: url("https://img.freepik.com/free-vector/blank-blue-halftone-background_53876-114592.jpg");
  background-size: cover;
  }

