@import "styles/index";
.App {
  height:100dvh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  //todo(sagiv): Fix
  margin: 0;
  text-align: right;
  direction: rtl;
}

body {
   //background: linear-gradient(360deg, hsla(175, 35%, 21%, 0.5) 0%, hsla(188, 100%, 25%, 0.5) 15%, hsla(16, 84%, 67%, 0.5) 50%, hsla(4, 69%, 86%, 0.5) 75%, hsla(7, 68%, 93%, 0.5) 90%);  background: url("https://images.unsplash.com/photo-1668853853439-923e013afff1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGdyYWRpZW50JTIwYmx1ZXxlbnwwfHwwfHx8MA%3D%3D");
   background-size: 100% 100%;
   //background: url("https://images.unsplash.com/photo-1668853853439-923e013afff1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGdyYWRpZW50JTIwYmx1ZXxlbnwwfHwwfHx8MA%3D%3D");
  background: url("./assets/img_compressed.webp");
   //background: url("https://img.freepik.com/free-vector/blank-blue-halftone-background_53876-114592.jpg");
   background-size: cover;

   color: $dark-teal;
  font-family: 'Assistant', sans-serif;
  //font-family: "Helvetica Neue", Arial, sans-serif;
 }