@import "styles/index";

.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //gap: 20px;
  overflow: auto;

  > * {
    flex-shrink: 0;
  }
  // background: linear-gradient(270deg, $peach, $coral, $green, $dark-teal);
  //background: linear-gradient(270deg, #f9e2df, #f7b097, #a6d3b4, #557d74);
  //background-size: 800% 800%;
  //animation: GradientWave 20s ease infinite;
}

@keyframes GradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blinking {
  color: red;
  animation: blink 1.5s infinite;
  font-weight: bold;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
//.rainbow-text {
//  //font-size: 2em;
//  //font-weight: bold;
//  background: linear-gradient(90deg,
//          red, orange, yellow, green, blue, indigo, violet);
//  background-size: 400%;
//  background-clip: text;
//  -webkit-background-clip: text;
//  color: transparent;
//  animation: rainbow-slide 100s ease-in-out infinite;
//}
//
//@keyframes rainbow-slide {
//  0% {
//    background-position: 0% 50%;
//  }
//  50% {
//    background-position: 100% 50%;
//  }
//  100% {
//    background-position: 0% 50%;
//  }
//}
