@import "styles/index";

.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //gap: 20px;
  overflow: auto;
  overscroll-behavior-y: contain;
  overflow: auto;

  > * {
    flex-shrink: 0;
  }
  // background: linear-gradient(270deg, $peach, $coral, $green, $dark-teal);
  //background: linear-gradient(270deg, #f9e2df, #f7b097, #a6d3b4, #557d74);
  //background-size: 800% 800%;
  //animation: GradientWave 20s ease infinite;
}

@keyframes GradientWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blinking {
  color: red;
  animation: blink 1.5s infinite;
  font-weight: bold;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
//.rainbow-text {
//  //font-size: 2em;
//  //font-weight: bold;
//  background: linear-gradient(90deg,
//          red, orange, yellow, green, blue, indigo, violet);
//  background-size: 400%;
//  background-clip: text;
//  -webkit-background-clip: text;
//  color: transparent;
//  animation: rainbow-slide 100s ease-in-out infinite;
//}
//
//@keyframes rainbow-slide {
//  0% {
//    background-position: 0% 50%;
//  }
//  50% {
//    background-position: 100% 50%;
//  }
//  100% {
//    background-position: 0% 50%;
//  }
//}

.image-fade {
  position: relative;
  width: 100%;
  height: max(35vh, 300px);
  object-fit: cover;
  object-position: top;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.98) 55%,
    rgba(0, 0, 0, 0.85) 70%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0.35) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.98) 55%,
    rgba(0, 0, 0, 0.85) 70%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 0.35) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
.hello-header {
  font-size: 30px;
  padding: 0 10px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.hand-wave {
  font-size: 30px;
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave-animation 1.8s ease-in-out infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.section-header {
  margin-top: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
